!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title=t(:".log_into_bucketwise")
    = stylesheet_link_tag "money"
    = javascript_include_tag "prototype"

  %body.login
    .login_form
      - if flash[:failed]
        .alert=t(:".the_user_name_or_password_you_gave_was_incorrect")
      - if flash[:logged_out]
        .notice=t(:".you_have_been_logged_out")
      - form_tag(:session, :url => session_path) do
        %p
          =t(:".user_name")
          = text_field_tag :user_name
        %p
          =t(:".password")
          = password_field_tag :password
        %p= submit_tag t(:".log_into_bucketwise")

    :javascript
      window.onload = function() { $('user_name').focus(); }
