#data.content
  %h2=t(:".balance_your_statement")

  .statement.edit.form

    - form_for(statement) do |form|

      %table.general
        %tr
          %th.occurred_on=t(:".statement_date")
          %th.starting_balance=t(:".starting_balance")
          %th.ending_balance=t(:".ending_balance")
        %tr
          %td.occurred_on= form.calendar_date_select :occurred_on, :size => 10
          %td#starting_balance.starting_balance.number= format_cents(statement.starting_balance)
          %td.ending_balance= t(:"$") + form.text_field(:ending_balance, :size => 8, :class => "number", :value => format_cents(statement.ending_balance, :unit => ""), :onchange => "Statements.updateBalances()")
        
      - if uncleared.deposits.any?
        %fieldset#deposits
          %legend=t(:".deposits")

          .uncleared.deposits
            %table= render :partial => "statements/uncleared", :collection => uncleared.deposits

          = render :partial => "statements/subtotal", :object => statement.account_items.deposits.sum(&:amount)

      - if uncleared.checks.any?
        %fieldset#checks
          %legend=t(:".checks")

          .uncleared.checks
            %table= render :partial => "statements/uncleared", :collection => uncleared.checks

          = render :partial => "statements/subtotal", :object => statement.account_items.checks.sum(&:amount)

      - if uncleared.expenses.any?
        %fieldset#expenses
          %legend=t(:".other_expenses")

          .uncleared.expenses
            %table= render :partial => "statements/uncleared", :collection => uncleared.expenses

          = render :partial => "statements/subtotal", :object => statement.account_items.expenses.sum(&:amount)

      #balanced{:style => visible?(statement.balanced?)}
        %h3=t(:".congratulations")

        %p=t(:".your_records_exactly_match_your_account_statement")

        %p= form.submit t(:".close_out_this_statement")

      %p#actions{:style => visible?(!statement.balanced?)}
        = form.submit t(:".save_for_later")
        or
        = link_to(t(:".abort_this_reconciliation"), statement_path(statement), :method => :delete, :confirm => t(:".are_you_sure_you_want_to_discard_this_reconciliation"))
