#data.content
  .navigation
    = link_to t(:".dashboard"), subscription_path(subscription)
    = link_to h(account.name), account_path(account)

  %h2=t(:".previous_statements")

  - if statements.empty?
    %p=t(:".you_have_not_yet_balanced_this_account_against", :link => link_to(t(:".here"), new_account_statement_path(account)))

  - else
    %ul
      - statements.each do |statement|
        %li
          = link_to(l(statement.occurred_on), statement_path(statement))
          = ":"
          = format_cents(statement.ending_balance)
