#data.content
  .navigation
    = link_to t(:".dashboard"), subscription_path(subscription)
    = link_to h(account.name), account_path(account)
    = link_to t(:".prior_statements"), account_statements_path(account)

  %h2
    %span.actions
      = link_to(t(:".delete"), statement_path(statement), :confirm => t(:".are_you_sure_you_want_to_delete_this_statement"), :method => :delete)
    =t(:".statement_for_period_ending")
    =l(statement.occurred_on)

  %table.entries
    = render :partial => "events/balance", :locals => { :container => statement }
    = render(statement.account_items)
