:javascript
  Buckets.newEventUrl = #{new_subscription_event_path(subscription).to_json}

#data.content
  .navigation
    = link_to t(:".dashboard"), subscription_path(subscription)
    = link_to t(:".transactions_in_account_name", :account_name => h(account.name)), account_path(account)

  %h2
    = balance_cell(account, :classes => %w(total balance), :tag => "span")
    =t(:".buckets_in_account_name", :account_name => account.name)

  = link_to_function(filter, "Filters.display()", :id => :filter_nubbin)

  #filter_form{:style => "display: none"}
    - form_tag(account_buckets_path(account), :method => :get) do
      %p
        =t(".include")
        %label
          = check_box_tag(:expenses, "1", filter.expenses?)
          =t(:".expenses")
        = "|"
        %label
          = check_box_tag(:deposits, "1", filter.deposits?)
          =t(:".deposits")
        = "|"
        %label
          = check_box_tag(:reallocations, "1", filter.reallocations?)
          =t(:".reallocations")
      %p
        %label
          =t(:".from")
          = calendar_date_select_tag :from, filter.from, :size => 9
        %label
          =t(:".to")
          = calendar_date_select_tag :to, filter.to, :size => 9

      %p.actions
        = submit_tag t(:".apply_these_critera"), :name => nil
        or
        = link_to_function t(:".cancel"), "Filters.hide()"
        - if filter.any?
          or
          = link_to(t(:".reset_this_filter"), account_buckets_path(account))

  %table#accounts_summary
    = render(buckets.sort_by(&:name))
