#delete_form.form{:style => "display: none;"}= render :partial => "buckets/delete_form"

#data.content
  .navigation
    = link_to t(:".dashboard"), subscription_path(subscription)
    = link_to t(:".transactions_in_account_name", :account_name => h(account.name)), account_path(account)
    = link_to t(:".buckets_in_account_name", :account_name => h(account.name)), account_buckets_path(account)

  %h2{:id => dom_id(bucket, :name)}
    = render :partial => "buckets/bucket_name_for_perma", :locals => { :bucket => bucket }

  %table.entries
    = render :partial => "events/balance", :locals => { :container => bucket }
    = render(@items)
