#links.header{:style => visible?(!blank_slate?)}
  %h2=t(:".record_a_new", :expense => link_to_function(t(:".expense"), "Events.revealExpenseForm()", :id => "expense_link"), :deposit => link_to_function(t(:".deposit"), "Events.revealDepositForm()", :id => "deposit_link"), :transfer => link_to_function(t(:".transfer"), "Events.revealTransferForm()", :id => "transfer_link"))
                          
#new_event.transaction.form{:style => "display: none"}= render :partial => "events/form"

- if blank_slate?
  #blankslate= render :partial => "blank_slate"

#new_account.form{:style => "display: none"}= render :partial => "accounts/form"

#data.content{:style => visible?(!blank_slate?)}
  %h2=t(:".recent_transactions")

  %table#recent_entries.entries= render(subscription.events.recent.last)

  %h2#accounts_summary_header
    %span.actions= link_to_function t(:".add_an_account"), "Accounts.revealForm()"
    =t(:".accounts_summary")

  %table#accounts_summary= render(subscription.accounts)

  - if subscription.tags.any?
    %h2=t(:".tags")
    = render :partial => "tags/cloud"
